annotated-types==0.7.0
anyio==4.8.0
apache-beam==2.48.0
apache-flink==1.20.1
apache-flink-libraries==1.20.1
async-timeout==5.0.1
avro-python3==1.10.2
cassandra-driver==3.29.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==2.2.1
confluent-kafka==2.8.2
crcmod==1.7
dill==0.3.1.1
dnspython==2.7.0
docopt==0.6.2
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.115.11
fastapi-cli==0.0.7
fastavro==1.10.0
fasteners==0.19
find_libpython==0.4.0
geomet==0.2.1.post1
grpcio==1.70.0
h11==0.14.0
hdfs==2.7.3
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
idna==3.10
Jinja2==3.1.5
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==1.24.4
objsize==0.6.1
orjson==3.10.15
pandas==2.2.3
pemja==0.4.1
proto-plus==1.26.0
protobuf==4.23.4
psycopg2-binary==2.9.9
py4j==0.10.9.7
pyarrow==11.0.0
pydantic==2.10.6
pydantic_core==2.27.2
pydot==1.4.2
Pygments==2.19.1
pymongo==4.11.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2025.1
PyYAML==6.0.2
redis==5.2.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rich-toolkit==0.13.2
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
starlette==0.46.0
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uuid==1.30
uvicorn==0.34.0
uvloop==0.21.0
watchfiles==1.0.4
websockets==15.0
zstandard==0.23.0
